<!--<nav class="navbar bg-dark border-bottom border-body h-25" data-bs-theme="dark">-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary h-100">
    <div class="container-fluid">
     <div class="">
        <img class="w-60" style="max-width: 50px;" src="../../assets/img/Logo-what.png" alt="logo">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-icons collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link icon" href="#" title="Community"><i class="bi bi-people-fill"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="#" title="Stato"><i class="bi bi-alexa"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="#" title="Canale"><i class="bi bi-chat-dots-fill"></i></a>
          </li>
           <li class="nav-item">
            <a class="nav-link icon" href="#" title="Nuova chat"><i class="bi bi-plus-square"></i></a>
          </li>
           <li class="nav-item">
            <a class="nav-link icon" href="#" title="Menu"><i class="bi bi-three-dots-vertical"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--</nav>-->
