<nav class="navbar navbar-expand-lg h-100" style="width: 100%">
  <div class="container-fluid">
    <div class="">
        <img class="w-60" style="max-width: 50px;" src="../../assets/img/Logo-what.png" alt="logo">
    </div>
    <div class="container d-flex justify-content-between text-white" id="navbarSupportedContent">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h6 class="m-0 text-center">Amico Mio</h6>
        <p class="m-0 text-center">Online</p>
      </div>
      <div>
        <i class="bi bi-camera-video-fill fa-2x m-3 icon"></i>
        <i class="bi bi-search fa-2x m-1 icon"></i>
        <i class="bi bi-three-dots-vertical fa-2x m-1 icon"></i>
      </div>
    </div>
  </div>
</nav>
