<div class="search-container ps-2">
  <div class="input-group mb-3 mt-3">
    <button class="btn btn-outline-secondary border-0 " type="button" id="button-addon1"><i class="bi bi-search"></i></button>
    <input type="text" class="form-control input border-0 placeholder-white" placeholder="Cerca o inizia una nuova chat" aria-describedby="button-addon1">
    <button class="btn btn-outline-secondary border-0 archive" type="button" id="button-addon1"><i class="bi bi-filter fw-bolder"></i></button>
  </div>
</div>
