.search-container {
  width: 360px;
  background-color: #1d262c;
  padding-top: 2px;
  padding-bottom: 2px;
 }

 .input-group {
  width: 350px;
  background-color: #343f46;
  border-radius: 10px;
 }

 .input {
  background-color: #343f46;
  border-radius: 10px;
 }

 .archive {
  background-color: #1d262c;
 }
